[Unit]
Description=mempool
After=bitcoind.service

[Service]
WorkingDirectory=/opt/mempool/backend
ExecStart=/usr/bin/node --max-old-space-size=2048 dist/index.js
User=mempool

# Restart on failure but no more than default times (DefaultStartLimitBurst=5) every 10 minutes (600 seconds). Otherwise stop
Restart=on-failure
RestartSec=600

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

StandardOutput=file:/var/log/mempool/mempool.log
StandardError=file:/var/log/mempool/error.log

[Install]
WantedBy=multi-user.target